{% extends 'layout/main.html' %}
{% block content %}
<main id="main" class="main">
	 <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="#">Done EOIC</a></li>
          </ol>
        </nav>
      </div>
	  {% for messages in messages %}
	  <div class=" card card-body bg-success text-white"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{messages}}</div>
	  {% endfor %}  
      <div class="card">
      	<div class="card-header"><b>Done EOIC participants</b></div>
      	<div class="card-body">
      		<table class="table datatable">
      			<thead>
      				<tr>
      					<th>#</th>
      					<th>Participant ID</th>
      					<th>VL results</th>
      					<th>Investigation Date</th>
      					<th>Entry Date</th>
						<th>Action</th>
      				</tr>
      			</thead>
      			<tbody>
      				{% for eoic in eoic_part %}
      				<tr>
      					<td>{{eoic.id}}</td>
      					<td>{{eoic.eoic_id}}</td>
      					<td>{{eoic.vl_result}}</td>
      					<td>{{eoic.investigation_date}}</td>
      					<td>{{eoic.entry_date}}</td>
						<td>
							<div class="btn-group" role="group" aria-label="Basic example">
								<a type="button" class="btn btn-success" href="#"><i class="bi bi-eye"></i></a>      
							   </div>
							   <div class="btn-group" role="group" aria-label="Basic example">
								 <a type="button" class="btn btn-danger" href="{% url 'edit_eoic' eoic.id %}"><i class="bi bi-pencil"></i></a>      
								</div>
							   <div class="btn-group" role="group" aria-label="Basic example">
								<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#basicModal-{{eoic.id}}"><i class="bi bi-trash"></i></button>    
								</div>
								{% include "admin/eoic/delete_modal.html" %}
						</td>
      				</tr>
      				{% endfor %}
      			</tbody>
      		</table>
      	</div>
      </div>
</main>
{%  endblock %}