{% extends 'layout/main.html' %}
{% block content %}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Participants</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <a class="btn btn-success btn-block" href="{% url 'add-participants' %}">Add participant</a>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
          <div class="card-header"><b>All registered participants</b></div>
          <div class="card-body">
            <table class="table table-condensed datatable">
                <thead>
                    <tr>
                        <th>Serial No</th>
                        <th>Participant ID</th>
                        <th>Sex</th>
                        <th>Age</th>
                        <th>Date of Enrollment</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>   
                    {% for participants in user %}
                    <tr>
                        <td>{{participants.id}}</td>
                        <td>{{participants.participant_id}}</td>
                        <td>{{participants.sex}}</td>
                        <td>{{participants.age}}</td>
                        <td>{{participants.enrollment_date}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a type="button" class="btn btn-success" href="{% url 'show_participants' participants.id %}"><i class="bi bi-eye"></i></a>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#basicModal-{{participants.id}}"><i class="bi bi-trash"></i></button>
                              </div>
                              {% include "admin/pages/participant_modal.html" %}
                        </td>
                      
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
      </div>
     
        {% for messages in messages %}
        <div class=" card card-body bg-success text-white"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{messages}}</div>
        {% endfor %}    
     
</main>
{% endblock content %}