{% extends 'layout/main.html' %}
{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="#">Month 6</a></li>
            <li class="breadcrumb-item active"><a href="#">All</a></li>
          </ol>
        </nav>
      </div>
      {% for messages in messages %}
      <div class=" card card-body bg-success text-white"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{messages}}</div>
      {% endfor %}  
      <div class="card">
      <div class="card-header"><b>All month 6 Participants</b></div>
      <div class="card-body">
        <table class="table datatable">
          <thead>
            <tr>
              <th>Serial No</th>
              <th>Participant ID</th>
              <th>Date of Collection</th>
              <th>VL Results</th>
              <th>Date Received</th>
              <th>VL suppressed</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for months in month6%}
            <tr>
              <td>{{months.id}}</td>
              <td>{{months.participants_id}}</td>
              <td>{{months.collection_date}}</td>
              <td>{{months.vl_result}}</td>
              <td>{{months.date_received}}</td>
              <td>
                  {% if months.vl_suppressed == 1 %}
                  <span class="badge bg-success">yes</span>
                  {% else %}
                  <span class="badge bg-danger">No</span>
                  {% endif %}
              </td>
              <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a type="button" class="btn btn-success" href="#"><i class="bi bi-eye"></i></a>      
                 </div>
                 <div class="btn-group" role="group" aria-label="Basic example">
                   <a type="button" class="btn btn-danger" href="{% url 'edit_month6' months.id %}"><i class="bi bi-pencil"></i></a>      
                  </div>
                 <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#basicModal-{{months.id}}"><i class="bi bi-trash"></i></button>    
                  </div>
                  {% include "admin/month6/delete_modal.html" %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      </div>
    </main>
    

    {% endblock %}