{% extends 'layout/main.html' %}
{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="#">All rerands</a></li>
          </ol>
        </nav>
      </div>
      {% for messages in messages %}
        <div class=" card card-body bg-success text-white"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{messages}}</div>
        {% endfor %} 
      <div class="card">
          <div class="card-header"><b>All Rerands</b></div>
          <div class="card-body">
              <table class="table table-condensed datatable">
                <thead>
                    <tr>
                        <th>Serial No</th>
                        <th>Participant Id</th>
                        <th>Viral Load results</th>
                        <th>Rerand Date</th>
                        <th>Rerand Arm</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rerands in rerand %}
                    <tr>
                        <td>{{rerands.id}}</td>
                        <td>{{rerands.participants_id}}</td>
                        <td>{{rerands.vl_results}}</td>
                        <td>{{rerands.rerand_date}}</td>
                        <td>{{rerands.rerand_arm}}</td>
                        <td>
                            
                              <div class="btn-group" role="group" aria-label="Basic example">
                                <a type="button" class="btn btn-danger" href="{% url 'edit_rerand' rerands.id  %}"><i class="bi bi-pencil"></i></a>      
                               </div>
                              <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#basicModal-{{rerands.id}}"><i class="bi bi-trash"></i></button>
                               
                              </div>
                              <div class="btn-group" role="group" aria-label="Basic example">
                                <a type="button" class="btn btn-success btn-sm" href="{% url 'eoic_participant' rerands.id %}">Month6</a>
                               
                              </div>
                              {% include "admin/rerand/rerand_modal.html" %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
      </div>
</main>
{% endblock %}