<div class="modal fade" id="basicModal-{{rerands.id}}" tabindex="-1">
    <div class="modal-dialog">
      <form method="post" action="{% url 'delete_rerand' rerands.id %}">
        {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">You are about to delete participant <b>{{rerands.participants_id}}</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <p>Are you sure you want to delete this participant ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Yes,Delete</button>
        </div>
      </div>
    </form>
    </div>
  </div>